<!DOCTYPE <!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <title>Post57</title>
    <link rel ="stylesheet" type = "text/css" href = "style.css">
</head>
<body>
    <div class="wrapper">
        <nav>
            <div class = "logo">Post57</div>
            <ul>
                <li><a href = "about">About</a></li>
                <li><a href = "events">Events</a></li>
                <li><a href = "Join">Events</a></li>
                <li><a href = "Gallery">Events</a></li>
                <li><a href = "officers">Officers</a></li>
                <li><a class="click" href = "login">Log in</a></li>
            </ul>
        </nav>
    </div>
<br><br>


    <header id = "showcase">
        <div class = "bg-image"></div>
        <div></div>
        <div></div>
        <div id = "pic-alignment">
            <div></div> 
            <div>
                <h1>Post57</h1>
                <p>Environmental Youth Organization</p>
            </div>
            <div>
                <a href = "about" class = "btn">Learn More</a>
            </div>         
            <div>
                <h2>Social Media</h2>
                <div id = "two-box">
                    <div>
                        <p>Discord: https://discord.gg/5wU36AS </p>    
                    </div>
                    <div>
                        <p>Remind:  </p>
                    </div>
                </div>
            </div>   
        </div>
    </header>    


</body>
</html>