<doctype <!DOCTYPE html>
<html>
<head>
    <title>About us</title>
    <link rel ="stylesheet" type = "text/css" href = "style.css">
</head>
<body>

    <!--Header-->
    <header id = "main-header">
            <h1>Luxury Beauty Salon</h1>
    </header>

    <!--Navbar-->
    <div class = "wrapper">
    <nav id = "nav">
            <ul> 
                    <li><a href = "Index">Home</a></li> 
                    <li><a>About us</a></li>
                    <li><a href="Calendar">Calendar</a></li>
                    <li><a href="LoginToCreate">Create an appointment</a></li>
                    <li><a href="Login">Account</a></li>
            </ul>
    </nav>
    </div>

    <!--Top containter-->
    <div class="essay">
        <h1>About Luxury Beauty Salon</h1>
        <p> &nbsp &nbsp &nbsp &nbsp &nbsp &nbspJanine had taught and worked in the nail and skincare
            service industry in the Palm Beach for over 20 years. 
            She had previously owned two other salons on the West 
            Coast that has been offering top-notched full service 
            salon since 1992 and recently opened Luxury Beauty Salon
            in North Palm Beach that offers full service salon.
        </p>
        
        <p> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            She has helped thousands of clients improve the health 
            and beauty of their natural nails and developed a technique 
            for keeping acrylic nails healthy and professional looking.
        </p>

        <p>
            Luxury Beauty Salon specializes in treating nail fungus, in-grown toenails, 
            spilts, bridges, thin, weak, eggshell, white spots or slow growing nails.
        </p>

        <p> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            Luxury Beauty Salon offers full skincare services with safe and effective 
            products for all skin types. Our skin treatments are designed to promote 
            healthy, youthful and glowing skin. We can reduce visible signs of aging, 
            irregular skin tones, and spotting. Skin will look and feel softer. Our products 
            wil deliver excellent results not possible with ordinary cosmetics. Both 
            men and women may benefit by regular use of our products such as Decleor and Bio
            Touch.
        </p>

        <p> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            Luxury Beauty Salon offers full hair services with safe and effective products 
            for all hair type. Our treatments are designed to promote shinning and healthy hair.
        </p>

        <p> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            Come in and relax in our beautiful salon where you will receive "Palm Beach" quality 
            services and products at affordable prices. Come in and let us make you beautiful.
        </p>

        <p> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            Our staff is experienced and friendly. Our facility is clean and inviting. All services 
            guaranteed. All equipments sterilized.
        </p>
    </div>
    <br>
    <p>
        If there is any problem contact the owner:
    </p>
    <div class ="essay">
    <p>Number: (561) 845-7673</p>
    <p>Email: NailPerfectionNPB@gmail.com</p>
    <div>
</body>
</html>