<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <title>Forgot Password</title>
    <link rel ="stylesheet" type = "text/css" href = "style.css">
</head>
<body>
    <!--Header-->
    <header id = "main-header">
        <h1>Luxury Beauty Salon</h1>
    </header>

    <!--Navbar-->
    <div class = "wrapper">
    <nav id = "nav">
            <ul> 
                    <li><a href="Index">Home</a></li> 
                    <li><a href="AboutUs">About us</a></li>
                    <li><a href="Calendar">Calendar</a></li>
                    <li><a href="LoginToCreate">Create an appointment</a></li>
                    <li><a href="Login">Account</a></li>
                </ul>
    </nav>
    </div>

    <section class = "top-container">
        <h1>Forgot Password</h1>
    </section>

    
    <% if(message.length > 0){ %>
        <ul>
            <li><%= message%></li>
        </ul>
    <% } %>
    

    <form class = "loginform" method="POST" action="/forgotPassword">
        <div class = "formgroup">
            <label>Username</label>
            <input type = "text" name = "Username" placeholder ="Enter username" required>
        </div>

        <div class="formgroup">
            <label>Date of Birth</label>
            <input type = "date" name = "DOB" required>
        </div>
        <div class = "formgroup">
            <label>New Password</label>
            <input type = "text" name = "Password" placeholder="Enter a new password" required>
        </div>
        <div class = "box-container-three">
            <div>
            <input class = "loginform btn" type = "submit" value="Confirm" name = "submit">
            </div>
        </div>
    </form>

</body>
</html>